<div class="cart-container">
    <div class="cart-header">
        <div class="cart-heading">
            <div class="title">Cart</div>
            <div class="title-qty">(<span class="cart-quantity"></span> Item)</div>
        </div>
        <button class="close-btn-cart">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="cart-wrapper">
        {{#if cart.items.length}}
        <ul class="cartList">
            {{#each cart.items }}
            <li class="cart-item">
                <div class="cart-container">
                    <div class="cart-image">
                        {{#if type '==' 'GiftCertificate'}}
                        <img alt="GiftCertificate" title="GiftCertificate"
                            src="{{cdn ../theme_settings.default_image_gift_certificate}}">
                        {{else}}
                        {{> components/common/responsive-img
                        image=image
                        fallback_size=../theme_settings.productthumb_size
                        lazyload=../theme_settings.lazyload_mode
                        default_image=../theme_settings.default_image_product
                        }}
                        {{/if}}
                    </div>
                    <div class="title-wrapper">

                        <h6 class="previewCartItem-name">
                            <a href="{{url}}" class="cart-title" alt="{{name}}" title="{{name}}">{{name}}</a>
                        </h6>

                        <div class="cart-price">
                            {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '=='
                            'GiftCertificate')}}
                            <span{{#if price_discounted}} class="price--discounted" {{/if}}>{{price.formatted}}
                                </span>
                                {{#if price_discounted}}
                                {{price_discounted.formatted}}
                                {{/if}}
                                {{else}}
                                {{> components/common/login-for-pricing}}
                                {{/or}}
                                </span>
                        </div>

                        <div class="quantity-container" item-id="{{id}}">
                            <div class="cart-qty-selector">
                                <span class="cart-qty-minus" data-action="dec">-</span>
                                <span class="cart-qty" id="qty-{{id}}"> {{#if quantity '>' 0}}
                                    {{quantity}}
                                    {{/if}}</span>
                                <span class="cart-qty-plus" data-action="inc">+</span>
                            </div><span class="cart-remove-btn">Remove</span>
                        </div>

                    </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="cart-footer hidden">
        <div class="cart-sub__total">
            <div class="sub-total">Sub total :</div>
            <div class="sub-total-value"></div>
        </div>
        <div class="previewCartAction">

            <div
                class="cart-viewCart {{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="button button--small button--action">
                    {{lang 'cart.preview.view_cart'}}
                </a>
            </div>

            {{#if cart.show_primary_checkout_button}}
            <div class="cart-checkout">
                <a href="{{urls.checkout.single_address}}" class="button button--small button--primary"
                    data-primary-checkout-now-action>
                    {{lang 'cart.preview.checkout_now'}}
                </a>
            </div>
            {{/if}}


            {{#if cart.show_multiple_address_shipping}}
            <div class="previewCartAction-checkoutMultiple">
                <a href="{{urls.checkout.multiple_address}}">
                    {{lang 'cart.preview.checkout_multiple'}}
                </a>
            </div>
            {{/if}}
        </div>
        <div class="shipping-msg">Shipping, taxes, and discounts calculated at checkout</div>
        {{#if cart.additional_checkout_buttons}}
        <div class="previewCart-additionalCheckoutButtons">
            {{#each cart.additional_checkout_buttons}}
            {{{this}}}
            {{/each}}
        </div>
        {{/if}}
        {{else}}
        <div role="alert" aria-live="polite" aria-atomic="false" class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
        {{/if}}
    </div>
</div>