// =============================================================================
// USER NAVIGATION (CSS)
// =============================================================================
//
// 1. Corrects the spacing added by .navUser-or
// 2. Can't use top: 50% because its container `.header` changes its height to
//    100% when mobile menu is expanded
// 3. Make the triangle for store credit dropdown centered
// 4. Needs to be 100% so its dropdown can take full width in mobile viewport
// 5. Needs to be lower than logo zIndex, otherwise, logo is not clickable
// 6. Make the triangle for currency dropdown right aligned
// 7. Corrects mini cart positioned outside viewport. Since this resets right
//    position, nudge dropdown away from the side of viewport in mobile viewport.
// 8. This corrects mini cart dropdown arrow alignment in mobile viewport by
//    setting the previous styles to medium breakpoint and adjusts for nudge in (7).
//
// -----------------------------------------------------------------------------

.navUser {
    @include nav($style: "navBar", $wrapper: "nav");
    @include verticalPositionMiddle("absolute");
    right: 0;
    top: 26px; // 2
    width: 100%; // 4
    z-index: zIndex("lowest"); // 5.

    @include breakpoint("medium") {
        padding: 0 spacing("single");
        position: relative;
        right: auto;
        top: auto;
        transform: none;
        z-index: zIndex("high");
    }

    .dropdown-menu-cart {
        background-color: stencilColor("navUser-dropdown-backgroundColor");
        border: 1px solid stencilColor("navUser-dropdown-borderColor");
        box-shadow: container("dropShadow");
        position: fixed;
        height: 100vh;
        transform: translate(100%);
        transition: transform 110ms cubic-bezier(0, 0, 0.38, 0.9), -webkit-transform 110ms cubic-bezier(0, 0, 0.38, 0.9);

    }

    .cart-header {
        height: 50px;
        background: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        z-index: 99;
        border-bottom: 1px solid;

        .close-btn-cart svg {
            width: 13px;
            height: 13px;
        }

        .title-qty {
            font-size: 12px;
            margin-left: 5px;
        }


        .cart-heading {
            display: flex;
            align-items: center;
        }
    }

    .cart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 30vh;
        background: #f4f4f5;
        padding: 10px 10px 5px 10px;

        .shipping-msg {
            font-size: 11px;
            font-weight: 600;
            text-align: center;
        }

        .cart-viewCart,
        .cart-checkout {
            width: 100%;
            margin: 10px 0;
        }

        .cart-viewCart {
            background: #fff;

            a {
                color: #000;
                font-weight: 600;
            }

            a:hover {
                color: #fff;
                background: #61616b;
                border: 1px solid #3d3d52;
            }
        }

        .cart-checkout {
            background: #000;
            border-radius: 4px;

            a {
                color: #fff;
                font-weight: 600;
            }

            a:hover {
                background: #e41b21;
            }
        }

        .previewCartAction {
            border: 0;
            padding: 0;
        }

        .cart-sub__total {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0 20px 0;
            font-weight: 600;
            font-size: 15px;
        }
    }

    .cart-wrapper {
        max-height: 62vh;
        overflow-y: auto;


        .cart-image {
            width: 6.5rem;
            margin-right: 1rem;
        }

        .title-wrapper a {
            margin-bottom: 0.5rem;
            display: block;
            text-decoration: none;
            font-size: 13px;
            font-weight: 600;
            color: #09090c;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .cart-price {
            font-weight: bold;
            font-size: 13px;
            color: #000;
        }

        .quantity-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;


            .cart-remove-btn {
                font-size: 11px;
                cursor: pointer;
            }

            .cart-qty-selector {
                padding: 9px;
                margin-right: 15px;
                border: 1px solid #dfdfe2;
                width: 110px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .cart-qty {
                    font-weight: 600;
                    font-size: 13px;
                }

                .cart-qty-minus,
                .cart-qty-plus {
                    font-weight: bold;
                    cursor: pointer;


                    svg {
                        width: 0.75rem;
                        height: 0.75rem;
                        fill: #61616b;
                    }
                }
            }
        }

    }

}

.navUser-section {
    @include breakpoint("medium") {
        position: relative; // 7
    }
}

.navUser-action {
    color: stencilColor("navUser-color");
    font-weight: fontWeight("bold");
    padding: spacing("base") spacing("half");
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &.is-open {
        color: stencilColor("navUser-color-hover");

        svg {
            fill: stencilColor("navUser-color-hover");
            stroke: stencilColor("navUser-color-hover");
        }
    }

    .icon {
        @include square(8px);
        margin: -1px 0 0 spacing("eighth");
    }

    svg {
        fill: stencilColor("navUser-color");
        stroke: stencilColor("navUser-color");
        transition: all 0.15s ease;
    }
}

.navUser-action--currencySelector+.dropdown-menu-cart {
    &::before {
        left: auto !important; // 6
        right: spacing("half"); // 6
    }

    &::after {
        left: auto !important; // 6
        right: spacing("half") + remCalc(2px); // 6
    }
}

.navUser-action--storeCredit+.dropdown-menu-cart {
    max-width: remCalc(300px);
    padding: spacing("single");

    &::before {
        left: remCalc(140px) !important; // 3
    }

    &::after {
        left: remCalc(142px) !important; // 3
    }
}

.navUser-action-divider {
    border-right: container("border");
    color: stencilColor("color-textSecondary");
    display: inline-block;
    padding: 0 remCalc(20) 0 0;
    text-decoration: none;
}

.navUser-item {
    display: none;

    @include breakpoint("medium") {
        display: block;

        &.navUser-item--social {
            margin-top: rem-calc(5px);
            padding-right: rem-calc(5px);
        }

        &.navUser-item--divider {
            font-size: rem-calc(25px);
            margin-top: rem-calc(8px);
            padding-left: rem-calc(2px);
        }
    }
}

.navUser-item--cart {
    display: block;

    // removing cart link for small screens when quantity is 0
    &__hidden-s {
        @media (max-width: $screen-small) {
            display: none;
        }
    }

    .navUser-action {
        color: stencilColor("navUser-color");

        &:hover,
        &.is-open {
            color: stencilColor("navUser-color-hover");
        }
    }

    .dropdown-menu-cart {
        max-width: 21.5625rem;
        width: 100%;

        &.is-open {
            left: auto !important; // 7
            right: remCalc(5px); // 7
            top: 0 !important; // 7

            @include breakpoint("medium") {
                // right: 0; // 7
                transform: translate(0);
                z-index: 999;
            }

            &::before,
            &::after {
                left: auto;
            }

            &::before {
                right: spacing("half") - remCalc(5px); // 8

                @include breakpoint("medium") {
                    right: spacing("half"); // 8
                }
            }

            &::after {
                right: spacing("half") - remCalc(3px); // 8

                @include breakpoint("medium") {
                    right: spacing("half") + remCalc(2px); // 8
                }
            }
        }
    }
}

.navUser-item-cartLabel {
    display: none;

    @include breakpoint("small") {
        display: inline;
    }
}

.navUser-item--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navUser-item--account {
    .navUser-or {
        +.navUser-action {
            margin-right: -0.5rem; // 1
        }
    }

    .navUser-action {
        display: inline-block;
    }
}

.navUser-or {
    color: stencilColor("navUser-color");
    cursor: default;
    display: inline-block;
    margin: 0 remCalc(-12px);
    padding: 0 2px;
    position: relative;
    z-index: 1;
}

// Quick search
// -----------------------------------------------------------------------------
//
// 1. Overriding the inline styles from Foundation as this is a unique dropdown.
//
// -----------------------------------------------------------------------------

.navUser-action--quickSearch {
    &.is-open {
        position: relative;

        &::before {
            @include css-triangle($triangle-direction: "bottom",
                $triangle-size: 10px,
                $triangle-color: color("greys", "lightest"));
            bottom: 0;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }
}

.dropdown--quickSearch {
    background-color: $dropdown--quickSearch-backgroundColor;
    display: none;
    padding: spacing("single") 0;

    @include breakpoint("small") {
        padding: spacing("double");
    }

    &.is-open {
        display: block;
        left: 0 !important; // 1
        outline: none;
        right: 0 !important; // 1
        width: 100% !important;
        z-index: zIndex("high");
    }

    .form {
        margin: auto;
        max-width: 30rem;
    }

    .form,
    .form-field {
        margin-bottom: 0;
    }

    .form-input {
        font-size: fontSize("small");
        height: unset;
    }

    .productGrid {
        padding: spacing("single") 0 0;

        @include breakpoint("small") {
            padding: spacing("double") 0 0;
        }
    }
}

// Counter Pill
// -----------------------------------------------------------------------------
//
// 1. Hardcoded intentionally for precise pixels.
//
// -----------------------------------------------------------------------------

.countPill {
    background-color: stencilColor("navUser-indicator-backgroundColor");
    border-radius: 50%;
    color: color("whites", "bright");
    display: none;
    font-size: fontSize("tiny");
    font-weight: fontWeight("bold");
    height: 20px; // 1
    line-height: 20px; // 1
    margin-left: spacing("eighth");
    text-align: center;
    width: 20px; // 1
}

.countPill--positive {
    display: inline-block;
}

.countPill--alt {
    background-color: color("greys", "lighter");
    color: color("greys", "darker");
}



.navUser-action--currencySelector {
    margin-left: 70px;
}


header .navUser {
    position: fixed;
    top: 0;
    background: #fff;
}

.cartList .cart-item,
.cartList .cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartList .cart-item {
    padding: 10px 5px 10px;
}


.price-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}